<div class="jumbotron" *ngIf="!articles">
    <h1> Cargando...</h1>
</div>

<div class="jumbotron" *ngIf="articles && articles.length == 0">
    <h1>Ups...</h1>
    <p>No hay articulos para mostrar, intentalo mas tarde ;)</p>
</div>

<div id="articles" *ngIf="articles">
    <div class="row">
        <div *ngFor="let article of articles">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{url + 'get-image/' + article.image}}" *ngIf="article.image">
                    <img class="card-img-top" src="assets/images/default.png" *ngIf="!article.image">
                    <div class="card-body">
                        <h4 class="card-title">{{article.name}}</h4>
                        <span> Precio: <strong>{{article.price}}$DOP</strong></span>
                        <p class="card-text">{{article.date | amLocale: 'es' | amTimeAgo }}</p>
                        <a class="btn btn-success mx-auto" [routerLink]="['/productos/articulo', article._id]">Ver
                            producto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>