<div class="center">
    <section id="content" *ngIf="article">
        <article class="article-item article-detail">
            <div class="image-wrap">
                <img src="{{url + 'get-image/' + article.image}}" *ngIf="article.image">
                <img src="../../../assets/images/default.png" *ngIf="!article.image">
            </div>

            <h1 class="subheader">{{article.name}}</h1>

            <span> PRECIO: <strong>{{article.price}}$DOP</strong></span>
            <span class="date">
                {{article.date | amLocale: 'es' | amTimeAgo }}
            </span>
            
            <a class="btn btn-success" target="_blank" href="https://api.whatsapp.com/send?phone=+18096941137">Contactar con el vendedor</a>
            <div *ngIf="currentUser"> 
                <a [routerLink]="['/productos/editar', article._id]" class="btn btn-warning">Editar</a>
                <a (click)="delete(article._id)" class="btn btn-danger">Borrar</a>
            </div>
            
            <div class="clearfix"></div>
        </article>

    </section>

    <app-sidebar></app-sidebar>
</div>