<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="jumbotron" style="background-color: white;">
            <h2>Agregar Producto</h2>
            <form class="form-horizontal" #articleForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label class="control-label col-sm-2" for="name">Nombre del Producto</label>
                <div class="">
                  <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="article.name"
                    required />
                  <div *ngIf="!name.valid && name.touched" class="invalid-feedback">
                    <div>El Nombre es requerido</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="price">Precio del producto</label>
                <div class="">
                  <input type="text" class="form-control" name="price" #price="ngModel" [(ngModel)]="article.price"
                    required>
                  <div *ngIf="!price.valid && price.touched" class="invalid-feedback">
                    <div>El Precio es requerido</div>
                  </div>
                </div>
              </div>

              <div class="form-group">

                <div class="image-thumb" *ngIf="is_edit">

                  <img class="card-img-top" src="{{url + 'get-image/' + article.image}}" *ngIf="article.image">
                  <img class="card-img-top" src="assets/images/default.png" *ngIf="!article.image">

                </div>

                <angular-file-uploader [config]="afuConfig" (ApiResponse)="imageUpload($event)">
                </angular-file-uploader>

              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-3">
                  <input type="submit" value="guardar" class="btn btn-success" [disabled]="articleForm.invalid" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>