<div class="center">
    <section id="content">
        <h1 class="subheader">Iniciar sesión</h1>
           
        <form class="mid-form">
            <div class="form-group">

                <label for="email">Email</label>
                <input type="text" #email name="email" />
                <!-- pattern="[a-zA-Z]+"-->
            </div>

            <div class="form-group">

                <label for="password">Contraseña</label>
                <input type="password" #password name="password" />

            </div>


            <div class="clearfix"></div>
            <input type="submit" value="Entrar" class="btn btn-success" />
        </form>
    </section>
</div>
<div class="clearfix"></div>