<aside class="list-group">
    

    <div id="search" class="list-group-item">
        <h1 class="my-4">Buscador</h1>
        <h5>encuentra el Producto que buscas</h5>
        <form #searchForm="ngForm" (ngSubmit)="goSearch()">
            <div class="form-group">
                <input type="text" class="form-control" name="search" [(ngModel)]="searchString" />
            </div>
            <input type="submit" name="submit" value="Buscar" class="btn btn-success" />
        </form>
        <br>
        <div *ngIf="currentUser">
            <a [routerLink]="['/productos/crear']" class="btn btn-success">Crear Producto</a>
        </div>
    </div>
</aside>
<br>